
.header-image {
    background: url(https://pbs.twimg.com/profile_images/679340191065096192/XhrOFj76_400x400.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
}

audio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: .5rem;
    width: 20rem;
}

h1{
    text-align: center;
    align-content: center;
    font-family: 'Rock Salt', cursive;
    color: whitesmoke;
}

h4{
    margin-top: -2rem;
    text-align: center;
    align-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
}

body{
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/100603690267095854/9D7B84FE1FCE7E15EA2A1B18210B13C1C12242F1/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* background-position-y: top; */
    padding-top: 12rem;

    
}

#search-bar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#search-box{
    /* border: 1.5px solid white; */
    border-radius: 0rem;
    background-color: black;
    width: 13rem;
    outline-color: greenyellow;
    color: white;
}

button{
    border: 2px solid white;
    border-radius: 0rem;
    background-color: black;
    color: white;
}

.informationDiv{
    padding: 1rem;
    text-align: left;
}

.informationDiv:hover{
    opacity: 50%;
    background-size: cover;
}

.container{
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5,1fr);
    justify-content: center;
}

.artistName{
    font-weight: bold;
    background-color: black;
}

.trackTitle{
    background-color: black;
    /* color: black;  */
    margin-top: .2rem;
    margin-bottom: .2rem;
}

.albumName{
    font-style: oblique;
    background-color: black; 
}


.albumCover{
    align-content: center;
    display: flexbox;
    background-color: black;
    border: 2px solid white;
}

#results{




